@import url("projects.css");
@import url("messages.css");
@import url("sign_in_up.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}


html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  color: #1c1e21;
  padding-left: 2rem;
  padding-right: 2rem;
}

 .sm-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.table-headers {
  background-color: #2b3b49;
  color: #fff;
  max-width: 90%;
  margin: 0 auto;
}
.table-rows {
  background-color: #f2f2f2;
  margin: 0 auto;
}
.table-row {
  word-break: break-all;
  text-align: center;
  padding: 10px;
}
.table-row-username {
  width: 30%;
}

label, input {
  display: block;
}

label {
  margin-bottom: 10px;
}
