
.show {
  display: block;
}

.hide {
  display: none;
}


.error-message {
  background-color: #FEE2E2;
  color: #B91C1C;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.success-message {
  background-color: #C6F6D5;
  color: #059669;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.show {
  display: block;
}

.hide {
  display: none;
}
